<!DOCTYPE html>
<html>
  <head>
    <title>Matz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>
    <p>Name:<%= name %></p>
    <p>Points:<%= points  %></p>
    <h3><%= videodata.categoryName %></h3>
    <ul>
      <% videodata.categories.forEach(function(item){ %>
          <li><%= item.categoryName %></li>
      
      <% }); %>
    </ul>

  </body>
</html>
